extends layout.pug

block mainContent
    h2(class="headrow") Try Our Delicious Drinks! Made from our Home Grown Herbs and Spices!
    table(class="ProductTables")
        tbody 
            tr 
                td 
                    h3 Witchy Series: Green Witch Tea
                    p Ingredients: 
                    p - 4 Cups of Water or Milk
                    p - 8 Bags of Matcha Green Tea
                    p - 6 Ounces of Semi-Sweet or Dark Chocolate
                    p - 4 Teaspoons of Powdered Sugar
                    p - 1 Teaspoon of Vanilla
                    p - Matcha to Garnish
                    p 
                    img(src="/images/foodanddrinks/MatchaTea.jpg", alt="Green Tea Image")
                    p  
                    p ~ Small - $5.59 ~ Medium - $9.89 ~ Large - $13.69 ~
                td 
                    h3 Witchy Series: Hearth Witch Tea
                    p Ingredients: 
                    p - 4 Cups of Water 
                    p - 2 Tablespoons of Chai Tea 
                    p - 2 Cinnamon Sticks
                    p - 1/2 Teaspoon of Dry Ginger
                    p - 1/2 Teaspoon of Ground Cinnamon
                    p 
                    img(src="/images/foodanddrinks/CinnamonChai.png", alt="Hearth Tea Image")
                    p  
                    p ~ Small - $4.49 ~ Medium - $5.99 ~ Large - $10.39 ~
            tr 
                td 
                    h3 Witchy Series: Solar Witch Tea
                    p Ingredients: 
                    p - 4 Cups of Water 
                    p - 3 Bags of Black Tea
                    p - 1 Tablespoon of Dried Orange Peels 
                    p - Fresh Squeezed Orange Juice to Taste
                    p - Honey to Taste
                    p 
                    img(src="/images/foodanddrinks/orange-spice-sweet-tea-recipe-003.jpg", alt="Solar Tea Image")
                    p  
                    p ~ Small - $5.59 ~ Medium - $9.89 ~ Large - $13.69 ~
                td 
                    h3 Witchy Series: Storm Witch Tea
                    p Ingredients: 
                    p - 1/2 Cup of Water 
                    p - 3/4 Cup of Milk 
                    p - 1 Teaspoon of Earl Grey
                    p - 1/2 Teaspoon of Vanilla 
                    p - 1/2 Teaspoon of Pansy Syrup 
                    p - Agave Nectar to Taste
                    p 
                    img(src="/images/foodanddrinks/EarlGreyTea.jpg", alt="Storm Tea Image")
                    p  
                    p ~ Small - $3.79 ~ Medium - $5.99 ~ Large - $8.69 ~
            tr 
                td 
                    h3 Witchy Series: Swamp Witch Tea
                    p Ingredients: 
                    p - 1 Gallon of Water 
                    p - 3 Bags of Black Tea 
                    p - 2 to 3 Cups of Granulated Cane Sugar
                    p - Mint Leaves and Lemon to Taste
                    p 
                    img(src="/images/foodanddrinks/Sweet-Tea-Recipe-3.jpg", alt="Southern Sweet Tea Image")
                    p  
                    p ~ Small - $3.79 ~ Medium - $6.89 ~ Large - $9.99 ~
                td 
                    h3 Yule Spice Chocolate    
                    p Ingredients: 
                    p - 550 Grams of Milk 
                    p - 3 Tablespoons of Cocoa Powder 
                    p - 2 Teaspoons of Caster Sugar 
                    p - 1 Teaspoon of Cinnamon 
                    p - 1/2 Teaspoon of Ground Ginger 
                    p - 1 Teaspoon of Vanilla Sugar 
                    p - A Pinch of Nutmeg 
                    p - a Pinch of Salt 
                    p - Cream (Optional)
                    p - Cinnamon Sticks (Optional)
                    p 
                    img(src="/images/foodanddrinks/Spiced-Hot-Chocolate.jpg", alt="Yule Hot Cocoa Image")
                    p  
                    p ~ Small - $6.59 ~ Medium - $10.89 ~ Large - $13.99 ~
            tr
                td 
                    h3 Wizardly Mixes: Butterbeer    
                    p Ingredients: 
                    p - Homeade Cream Soda Mix 
                    p - 3 Tablespoons of Vanilla Extract 
                    p - 2 Teaspoons of Rum Extract 
                    p - 1 Cup of Whipping Cream 
                    p - 200 Grams (7 Ounces) of Marshmallow Fluff
                    p - Caramel Topping (Optional)
                    p 
                    img(src="/images/foodanddrinks/Butterbeer-V02.jpg", alt="Butterbeer Image")
                    p  
                    p ~ Small - $5.59 ~ Medium - $9.89 ~ Large - $13.69 ~
                td 
                    h3 More to Come. . .
    
    h2(class="headrow") Or for the Classic Coffee Experience. . .
    table(class="ProductTables")
        tbody 
            tr 
                td 
                    h3 American 
                    p  
                    p ~ Small - $3.68 ~ Medium - $6.99 ~ Large - $10.13 ~
                td
                    h3 Arabic 
                    p  
                    p ~ Small - $4.59 ~ Medium - $8.89 ~ Large - $12.69 ~
            tr
                td 
                    h3 Cappuchino
                    p  
                    p ~ Small - $6.39 ~ Medium - $9.59 ~ Large - $12.39 ~
                td 
                    h3 Caramel Macchiato 
                    p  
                    p ~ Small - $5.59 ~ Medium - $9.89 ~ Large - $13.69 ~
            tr 
                td 
                    h3 Caribean
                    p  
                    p ~ Small - $5.35 ~ Medium - $7.57 ~ Large - $9.69 ~
                td 
                    h3 Coffee Amaretto
                    p  
                    p ~ Small - $5.59 ~ Medium - $9.89 ~ Large - $13.69 ~
            tr
                td 
                    h3 Coffee Latte 
                    p  
                    p ~ Small - $4.59 ~ Medium - $8.89 ~ Large - $12.69 ~
                td 
                    h3 Expresso 
                    p  
                    p ~ Small - $3.59 ~ Medium - $6.89 ~ Large - $9.69 ~
            tr
                td 
                    h3 Expresso Panna 
                    p  
                    p ~ Small - $4.59 ~ Medium - $7.89 ~ Large - $10.69 ~
                td 
                    h3 Flat White 
                    p  
                    p ~ Small - $3.99 ~ Medium - $5.99 ~ Large - $8.99 ~
            tr 
                td 
                    h3 Hawaiian
                    p  
                    p ~ Small - $5.59 ~ Medium - $7.89 ~ Large - $9.69 ~
                td 
                    h3 Irish (Alchoholic)
                    p  
                    p ~ Small - $6.59 ~ Medium - $9.89 ~ Large - $13.69 ~
            tr 
                td 
                    h3 Macchiato
                    p  
                    p ~ Small - $5.59 ~ Medium - $9.89 ~ Large - $13.69 ~
                td 
                    h3 Milk Punch 
                    p  
                    p ~ Small - $7.69 ~ Medium - $10.89 ~ Large - $13.99 ~
            tr 
                td 
                    h3 Short 
                    p  
                    p ~ Small - $4.59 ~ Medium - $7.99 ~ Large - $11.69 ~
                td 
                    h3 Submarine (Coffee Optional)
                    p  
                    p ~ Small - $4.39 ~ Medium - $5.89 ~ Large - $7.69 ~
            tr 
                td 
                    h3 Viennese 
                    p  
                    p ~ Small - $7.59 ~ Medium - $11.89 ~ Large - $15.69 ~
                td 
                    h3 White Coffee 
                    p  
                    p ~ Small - $5.59 ~ Medium - $9.89 ~ Large - $13.69 ~
    
    h2(class="headrow") And if You Are Feeling a Bit Peckish, Try our Food!
    table(class="ProductTables")
        tbody 
            tr 
                td 
                    h3 Viking Bread 
                    p Ingredients: 
                    p - 3 Cups of Whole Wheat Flour 
                    p - 2 Cups of All-Purpose Flour 
                    p - 1 Tsp of Baking Powder 
                    p - 1 Tsp of Salt 
                    p - 2 Cups of Water 
                    p - 3/4 Cup of Rolled Oats 
                    p - 1/3 Cup Rolles Oats (Sprinkled on Top)
                    p 
                    p ~ $6.89 ~
                td
                    h3 Ice Cream Bread 
                    p Ingredients: 
                    p 1/2 Cup of Self-Rise Flour 
                    p 2 Cups of Softened Icecream (Any Flavor)
                    p 
                    p ~ $4.69 ~
            tr 
                td 
                    h3 Moon Spell Cookies 
                    p Ingredients: 
                    p - 1 Cup of Finely Ground Almonds 
                    p - 1^1/4 Cups of Flour 
                    p - 1/4 Cup of Confectioner's Sugar 
                    p - 1/4 Cup of Butter 
                    p - 1 Egg Yolk
                    p 
                    p ~ $5.99 ~
                td 
                    h3 Fluffy Soufflé Pancakes
                    p Ingredients: 
                    p - 2 Tbsp of Butter 
                    p - 1/2 Cup of Milk 
                    p - 1 Egg Yolk 
                    p - 1 Tsp of Vanilla Extract 
                    p - 2/3 Cup of Flour 
                    p - 2 Tsp of Baking Powder 
                    p - 1/2 Tsp of Salt 
                    p - 3 Egg Whites
                    p - 1/4 Cup of Sugar
                    p 
                    p ~ $8.89 ~
