extends layout.pug

block mainContent
    h2(class="headrow") Try Our Delicious Drinks! Made from our Home Grown Herbs and Spices!
    table(class="ProductTables")
        tbody 
            tr 
                td 
                    h3 Witchy Series: Green Witch Tea
                    p Ingredients: 
                    p - 4 Cups of Water or Milk
                    p - 8 Bags of Matcha Green Tea
                    p - 6 Ounces of Semi-Sweet or Dark Chocolate
                    p - 4 Teaspoons of Powdered Sugar
                    p - 1 Teaspoon of Vanilla
                    p - Matcha to Garnish
                    p 
                    img(src="/images/foodanddrinks/MatchaTea.jpg", alt="Solar Tea Image")
                td 
                    h3 Witchy Series: Hearth Witch Tea
                    p Ingredients: 
                    p - 4 Cups of Water 
                    p - 2 Tablespoons of Chai Tea 
                    p - 2 Cinnamon Sticks
                    p - 1/2 Teaspoon of Dry Ginger
                    p - 1/2 Teaspoon of Ground Cinnamon
                    p 
                    img(src="/images/foodanddrinks/CinnamonChai.png", alt="Solar Tea Image")
            tr 
                td 
                    h3 Witchy Series: Solar Witch Tea
                    p Ingredients: 
                    p - 4 Cups of Water 
                    p - 3 Bags of Black Tea
                    p - 1 Tablespoon of Dried Orange Peels 
                    p - Fresh Squeezed Orange Juice to Taste
                    p - Honey to Taste
                    p 
                    img(src="/images/foodanddrinks/orange-spice-sweet-tea-recipe-003.jpg", alt="Solar Tea Image")
                td 
                    h3 Witchy Series: Storm Witch Tea
                    p Ingredients: 
                    p - 1/2 Cup of Water 
                    p - 3/4 Cup of Milk 
                    p - 1 Teaspoon of Earl Grey
                    p - 1/2 Teaspoon of Vanilla 
                    p - 1/2 Teaspoon of Pansy Syrup 
                    p - Agave Nectar to Taste
                    p 
                    img(src="/images/foodanddrinks/EarlGreyTea.jpg", alt="Storm Tea Image")
            tr 
                td 
                    h3 Witchy Series: Swamp Witch Tea
                    p Ingredients: 
                    p - 1 Gallon of Water 
                    p - 3 Bags of Black Tea 
                    p - 2 to 3 Cups of Granulated Cane Sugar
                    p - Mint Leaves and Lemon to Taste
                    p 
                    img(src="/images/foodanddrinks/Sweet-Tea-Recipe-3.jpg", alt="Southern Sweet Tea Image")
                td 
                    h3 Yule Spice Chocolate    
                    p Ingredients: 
                    p - 550 Grams of Milk 
                    p - 3 Tablespoons of Cocoa Powder 
                    p - 2 Teaspoons of Caster Sugar 
                    p - 1 Teaspoon of Cinnamon 
                    p - 1/2 Teaspoon of Ground Ginger 
                    p - 1 Teaspoon of Vanilla Sugar 
                    p - A Pinch of Nutmeg 
                    p - a Pinch of Salt 
                    p - Cream (Optional)
                    p - Cinnamon Sticks (Optional)
                    p 
                    img(src="/images/foodanddrinks/Spiced-Hot-Chocolate.jpg", alt="Yule Hot Cocoa Image")
            tr
                td 
                    h3 Wizardly Mixes: Butterbeer    
                    p Ingredients: 
                    p - Homeade Cream Soda Mix 
                    p - 3 Tablespoons of Vanilla Extract 
                    p - 2 Teaspoons of Rum Extract 
                    p - 1 Cup of Whipping Cream 
                    p - 200 Grams (7 Ounces) of Marshmallow Fluff
                    p - Caramel Topping (Optional)
                    p 
                    img(src="/images/foodanddrinks/Butterbeer-V02.jpg", alt="Butterbeer Image")
                td 
                    h3 More to Come. . .
