extends layout.pug

block mainContent
    div(id="orderOverlay")
        p(class="OrderedFlowers") Overlay Text

    h2 If You Want to Get a Gift for Your Loved Ones,
        |  I Can Think of No Better Gifts than Our Lovely Seasonal Flowers! Catered to you Year-Round! 
    
    article(id="FlowerShopInfo")
        p ____________________________________________________
        p(class="FlowerShopInfo").
            For every Month, we have deals on our bouquettes and flower services, we change our flower rotation by month, so some flowers may be unavailable.
            Please refer to the list below to see which flowers are available during which months. 
            Prices are also included below, prices are prone to change depending on seasonal conditions and availability of listed flowers and inflation.
        p ____________________________________________________
        p(class="FlowerShopInfo") ~ Single Flower : $1.26 ~ Small Boughette : $5.99 ~
        p(class="FlowerShopInfo") ~ Boughette in Vase : $11.89 ~ Fresh Flowers in Full Pot : 16.89 ~
        p ____________________________________________________

    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Spring Flowers : March
            tr
                td 
                    h3 Daffodils 
                    img(src="/images/flowers/Daffodils.jpg", alt="")
                    p _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
                    button(class="orderButton") Click Me to Order Your Own!
                    
                td 
                    h3 Star Magnolias 
                    img(src="/images/flowers/StarMagnolia.jpg", alt="")
            tr 
                td 
                    h3 Windflowers 
                    img(src="/images/flowers/Windflowers.jpg", alt="")
                td 
                    h3 Trout Lilies
                    img(src="/images/flowers/TroutLilies.jpeg", alt="")
            tr
                td 
                    h3 Tree Peonies
                    img(src="/images/flowers/TreePeonies.jpg", alt="")
                td 
                    h3 Wild Ginger
                    img(src="/images/flowers/WildGinger.jpg", alt="")
            tr 
                td 
                    h3 Forsythias
                    img(src="/images/flowers/Forsythias.jpg", alt="")
                td 
                    h3 Periwinkles
                    img(src="/images/flowers/Periwinkles.jpg", alt="")
            tr 
                td 
                    h3 Violets 
                    img(src="/images/flowers/Violets.jpg", alt="")
                td 
                    h3 Hyacinths
                    img(src="/images/flowers/Hyacinths.png", alt="")
                    
    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Spring Flowers : April
            tr
                td 
                    h3 Daffodils 
                    img(src="/images/flowers/Daffodils.jpg", alt="")
                td 
                    h3 Money Plants 
                    img(src="/images/flowers/MoneyPlant.jpg", alt="")
            tr 
                td 
                    h3 Bleeding Hearts 
                    img(src="/images/flowers/BleedingHearts.jpg", alt="")
                td 
                    h3 Wild Geraniums
                    img(src="/images/flowers/WildGeranium.jpg", alt="")
            tr
                td 
                    h3 Azeleas
                    img(src="/images/flowers/Azeleas.jpeg", alt="")
                td 
                    h3 Dwarf Crested Irises
                    img(src="/images/flowers/DwarfCrestedIrises.jpg", alt="")
            tr 
                td 
                    h3 Grape Hyacinths
                    img(src="/images/flowers/GrapeHyacinths.jpg", alt="")

    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Spring Flowers : May
            tr
                td 
                    h3 Trillium 
                    img(src="/images/flowers/Trillium.jpg", alt="")
                td 
                    h3 Rhododendrons
                    img(src="/images/flowers/Rhododendrons.jpg", alt="")
            tr 
                td 
                    h3 Lilies of the Valley 
                    img(src="/images/flowers/LiliesOfTheValley.jpg", alt="")
                td 
                    h3 Bearded Irises
                    img(src="/images/flowers/BeardedIrises.jpg", alt="")
            tr
                td 
                    h3 Peonies
                    img(src="/images/flowers/Peonies.jpg", alt="")
                td 
                    h3 Mountain Laurels
                    img(src="/images/flowers/MountainLaurels.jpg", alt="")
            tr 
                td 
                    h3 Lamb’s Ear
                    img(src="/images/flowers/LambsEar.jpg", alt="")
                td 
                    h3 Forget-Me-Nots
                    img(src="/images/flowers/ForgetMeNots.jpg", alt="")
            tr 
                td 
                    h3 Lilacs 
                    img(src="/images/flowers/Lilacs.jpg", alt="")
                
    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Summer Flowers : June
            tr
                td 
                    h3 Foxtail Lilies
                    img(src="/images/flowers/FoxtailLilies.jpg", alt="")
                td 
                    h3 Roses
                    img(src="/images/flowers/Roses.jpg", alt="")
            tr 
                td 
                    h3 Yarrow
                    img(src="/images/flowers/Yarrow.jpg", alt="")
                td 
                    h3 Poppies
                    img(src="/images/flowers/Poppies.jpg", alt="")
            tr
                td 
                    h3 Hydrangeas
                    img(src="/images/flowers/Hydrangeas.jpg", alt="")
                td 
                    h3 Bergamot 
                    img(src="/images/flowers/Bergamot.jpg", alt="")
            tr 
                td 
                    h3 Wild Blue Indigo
                    img(src="/images/flowers/WildBlueIndigo.jpg", alt="")
                td 
                    h3 Bellflowers
                    img(src="/images/flowers/Bellflowers.jpg", alt="")

    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Summer Flowers : July
            tr
                td 
                    h3 Daylilies
                    img(src="/images/flowers/Daylily.jpg", alt="")
                td 
                    h3 Dahlias
                    img(src="/images/flowers/Dahlias.jpg", alt="")
            tr 
                td 
                    h3 Daisies
                    img(src="/images/flowers/Daisies.jpg", alt="")
                td 
                    h3 Queen Anne's Lace
                    img(src="/images/flowers/QueenAnnesLace.jpg", alt="")

    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Summer Flowers : August
            tr
                td 
                    h3 Blazing Stars
                    img(src="/images/flowers/BlazingStars.jpg", alt="")
                td 
                    h3 Tube Clematis
                    img(src="/images/flowers/TubeClematis.jpg", alt="")
            tr 
                td 
                    h3 Daylilies
                    img(src="/images/flowers/Daylily.jpg", alt="")
    
    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Autumn Flowers : September
            tr
                td 
                    h3 Chrysanthemums
                    img(src="/images/flowers/Chrysanthemums.jpg", alt="")
                td 
                    h3 Pansies
                    img(src="/images/flowers/Pansies.jpg", alt="")
            tr 
                td 
                    h3 Violas
                    img(src="/images/flowers/Violas.jpg", alt="")
                td 
                    h3 Asters
                    img(src="/images/flowers/Asters.jpg", alt="")
            tr
                td 
                    h3 Petunias
                    img(src="/images/flowers/Petunias.jpg", alt="")
                td 
                    h3 Purple Coneflowers
                    img(src="/images/flowers/PurpleConeflowers.jpg", alt="")
            tr 
                td 
                    h3 Black-Eyed Susans
                    img(src="/images/flowers/BlackEyedSusan.jpg", alt="")

    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Autumn Flowers : October
            tr
                td 
                    h3 Roses
                    img(src="/images/flowers/Roses.jpg", alt="")
                td 
                    h3 Sunflowers
                    img(src="/images/flowers/Sunflowers.jpg", alt="")
            tr 
                td 
                    h3 Asters
                    img(src="/images/flowers/Asters.jpg", alt="")
                td 
                    h3 Autumn Crocus
                    img(src="/images/flowers/AutumnCrocus.jpg", alt="")
            tr
                td 
                    h3 Coneflowers
                    img(src="/images/flowers/Coneflowers.jpg", alt="")
                td 
                    h3 Willow-Leaved Sunflowers
                    img(src="/images/flowers/WillowLeafedSunflowers.jpg", alt="")
            tr 
                td 
                    h3 Hibiscus
                    img(src="/images/flowers/Hibiscus.jpg", alt="")
                td 
                    h3 English Lavender
                    img(src="/images/flowers/EnglishLavender.jpg", alt="")
            tr 
                td 
                    h3 Japanese Honeysuckle
                    img(src="/images/flowers/JapaneseHoneysuckle.jpg", alt="")

    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Autumn Flowers : November
            tr
                td 
                    h3 Pansies
                    img(src="/images/flowers/Pansies.jpg", alt="")
                td 
                    h3 Geraniums
                    img(src="/images/flowers/Geraniums.jpg", alt="")
            tr 
                td 
                    h3 Coronillas
                    img(src="/images/flowers/Coronillas.jpg", alt="")

    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Winter Flowers : December
            tr 
                td 
                    h3 Lenten Roses
                    img(src="/images/flowers/LentenRoses.jpg", alt="")
                td 
                    h3 Winter's Rose Camellia 
                    img(src="/images/flowers/WintersRoseCamellia.jpg", alt="")
            tr 
                td 
                    h3 Christmas Rose 
                    img(src="/images/flowers/ChristmasRoses.jpg", alt="")

    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Winter Flowers : January
            tr 
                td 
                    h3 Calendula
                    img(src="/images/flowers/Calendula.jpg", alt="")
                td 
                    h3 Hardenbergia 
                    img(src="/images/flowers/Hardenbergia.jpg", alt="")
            tr 
                td 
                    h3 Witch Hazel 
                    img(src="/images/flowers/Witchhazels.jpg", alt="")
    
    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Winter Flowers : February
            tr 
                td 
                    h3 Yellow Jessamine
                    img(src="/images/flowers/YellowJessamines.jpg", alt="")
                td 
                    h3 Gardenias
                    img(src="/images/flowers/Gardenias.jpg", alt="")
            tr 
                td 
                    h3 Winter Jasmine 
                    img(src="/images/flowers/WinterJasmine.png", alt="")
                td 
                    h3 Witch Hazel
                    img(src="/images/flowers/Witchhazels.jpg", alt="")
            tr 
                td 
                    h3 Camellias
                    img(src="/images/flowers/Camellias.jpg", alt="")
