extends layout.pug

block mainContent
    h2 If You Want to Get a Gift for Your Loved Ones,
        |  I Can Think of No Better Gifts than Our Lovely Seasonal Flowers! Catered to you Year-Round! 

    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Spring Flowers
            tr
                td 
                    h3 Daffodils 
                td 
                    h3 Star Magnolias 
            tr 
                td 
                    h3 Windflowers 
                td 
                    h3 Trout Lilies
            tr
                td 
                    h3 Tree Peonies
                td 
                    h3 Wild Ginger
            tr 
                td 
                    h3 Forsythias
                td 
                    h3 Periwinkles
            tr 
                td 
                    h3 Violets 
                td 
                    h3 Hyacinths
