extends layout.pug

block mainContent
    h2 If You Want to Get a Gift for Your Loved Ones,
        |  I Can Think of No Better Gifts than Our Lovely Seasonal Flowers! Catered to you Year-Round! 
    
    article(id="FlowerShopInfo")
        p ____________________________________________________
        p(class="FlowerShopInfo").
            For every Month, we have deals on our bouquettes and flower services, we change our flower rotation by month, so some flowers may be unavailable.
            Please refer to the list below to see which flowers are available during which months. 
            Prices are also included below, prices are prone to change depending on seasonal conditions and availability of listed flowers and inflation.
        p ____________________________________________________
        p(class="FlowerShopInfo") ~ Single Flower : $1.26 ~ Small Boughette : $5.99 ~
        p(class="FlowerShopInfo") ~ Boughette in Vase : $11.89 ~ Fresh Flowers in Full Pot : 16.89 ~
        p ____________________________________________________

    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Spring Flowers : March
            tr
                td 
                    h3 Daffodils 
                    img(src="/images/flowers/Daffodils.jpg", alt="")
                td 
                    h3 Star Magnolias 
                    img(src="/images/flowers/StarMagnolia.jpg", alt="")
            tr 
                td 
                    h3 Windflowers 
                    img(src="/images/flowers/Windflowers.jpg", alt="")
                td 
                    h3 Trout Lilies
                    img(src="/images/flowers/TroutLilies.jpeg", alt="")
            tr
                td 
                    h3 Tree Peonies
                    img(src="/images/flowers/TreePeonies.jpg", alt="")
                td 
                    h3 Wild Ginger
                    img(src="/images/flowers/WildGinger.jpg", alt="")
            tr 
                td 
                    h3 Forsythias
                    img(src="/images/flowers/Forsythias.jpg", alt="")
                td 
                    h3 Periwinkles
                    img(src="/images/flowers/Periwinkles.jpg", alt="")
            tr 
                td 
                    h3 Violets 
                    img(src="/images/flowers/Violets.jpg", alt="")
                td 
                    h3 Hyacinths
                    img(src="/images/flowers/Hyacinths.png", alt="")
                    
    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Spring Flowers : April
            tr
                td 
                    h3 Daffodils 
                    img(src="/images/flowers/Daffodils.jpg", alt="")
                td 
                    h3 Money Plants 
                    img(src="/images/flowers/MoneyPlant.jpg", alt="")
            tr 
                td 
                    h3 Bleeding Hearts 
                    img(src="/images/flowers/BleedingHearts.jpg", alt="")
                td 
                    h3 Wild Geraniums
                    img(src="/images/flowers/WildGeranium.jpg", alt="")
            tr
                td 
                    h3 Azeleas
                    img(src="/images/flowers/Azeleas.jpeg", alt="")
                td 
                    h3 Dwarf Crested Irises
                    img(src="/images/flowers/DwarfCrestedIrises.jpg", alt="")
            tr 
                td 
                    h3 Grape Hyacinths
                    img(src="/images/flowers/GrapeHyacinths.jpg", alt="")

    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Spring Flowers : May
            tr
                td 
                    h3 Trillium 
                    img(src="/images/flowers/Trillium.jpg", alt="")
                td 
                    h3 Rhododendrons
                    img(src="/images/flowers/Rhododendrons.jpg", alt="")
            tr 
                td 
                    h3 Lilies of the Valley 
                    img(src="/images/flowers/LiliesOfTheValley.jpg", alt="")
                td 
                    h3 Bearded Irises
                    img(src="/images/flowers/BeardedIrises.jpg", alt="")
            tr
                td 
                    h3 Peonies
                    img(src="/images/flowers/Peonies.jpg", alt="")
                td 
                    h3 Mountain Laurels
                    img(src="/images/flowers/MountainLaurels.jpg", alt="")
            tr 
                td 
                    h3 Lamb’s Ear
                    img(src="/images/flowers/LambsEar.jpg", alt="")
                td 
                    h3 Forget-Me-Nots
                    img(src="/images/flowers/ForgetMeNots.jpg", alt="")
            tr 
                td 
                    h3 Lilacs 
                    img(src="/images/flowers/Lilacs.jpg", alt="")
                
    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Summer Flowers : June
            tr
                td 
                    h3 Foxtail Lilies
                    img(src="/images/flowers/FoxtailLilies.jpg", alt="")
                td 
                    h3 Roses
                    img(src="/images/flowers/Roses.jpg", alt="")
            tr 
                td 
                    h3 Yarrow
                    img(src="/images/flowers/Yarrow.jpg", alt="")
                td 
                    h3 Poppies
                    img(src="/images/flowers/Poppies.jpg", alt="")
            tr
                td 
                    h3 Hydrangeas
                    img(src="/images/flowers/Hydrangeas.jpg", alt="")
                td 
                    h3 Bergamot 
                    img(src="/images/flowers/", alt="")
            tr 
                td 
                    h3 Wild Blue Indigo
                    img(src="/images/flowers/", alt="")
                td 
                    h3 Bellflowers
                    img(src="/images/flowers/", alt="")

    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Summer Flowers : July
            tr
                td 
                    h3 Daylilies
                td 
                    h3 Dahlias
            tr 
                td 
                    h3 Daisies
                td 
                    h3 Queen Anne's Lace

    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Summer Flowers : August
            tr
                td 
                    h3 Blazing Stars
                td 
                    h3 Tube Clematis
            tr 
                td 
                    h3 Daylilies
    
    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Autumn Flowers : September
            tr
                td 
                    h3 Chrysanthemums
                td 
                    h3 Pansies
            tr 
                td 
                    h3 Violas
                td 
                    h3 Asters
            tr
                td 
                    h3 Petunias
                td 
                    h3 Purple Coneflowers
            tr 
                td 
                    h3 Black-Eyed Susans

    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Autumn Flowers : October
            tr
                td 
                    h3 Roses
                td 
                    h3 Sunflowers
            tr 
                td 
                    h3 Asters
                td 
                    h3 Autumn Crocus
            tr
                td 
                    h3 Coneflowers
                td 
                    h3 Willow-Leaved sunflowers
            tr 
                td 
                    h3 Hibiscus
                td 
                    h3 English Lavender
            tr 
                td 
                    h3 Japanese Honeysuckle

    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Autumn Flowers : November
            tr
                td 
                    h3 Pansies
                td 
                    h3 Geraniums
            tr 
                td 
                    h3 Coronillas

    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Winter Flowers : December
            tr 
                td 
                    h3 Lenten Roses
                td 
                    h3 Winter's Rose Camellia 
            tr 
                td 
                    h3 Christmas Rose 

    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Winter Flowers : January
            tr 
                td 
                    h3 Calendula
                td 
                    h3 Hardenbergia 
            tr 
                td 
                    h3 Witchhazel 
    
    table(class="ProductTables")
        tbody 
            h3(class="FlowerSeasonHeaders") Winter Flowers : February
            tr 
                td 
                    h3 Yellow Jessamine
                td 
                    h3 Gardenias
            tr 
                td 
                    h3 Winter Jasmine 
                td 
                    h3 Witch Hazel
            tr 
                td 
                    h3 Camellias

