doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1(id="outerHeader")
      img(
        id="CoffeeLogo"
        src="/images/FlowersandCoffeeShop.png"
      )
    block mainContent
  footer
    block footContent
