doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1(id="outerHeader")
      img(
        id="CoffeeLogo"
        src="/images/FlowersandCoffeeShop.png"
      )
    block mainContent
  footer
    table(class="NavTable")
      tbody 
        tr 
          td
            a(href="/") Home
          td
            a(href="/CoffeeShop") Coffee Shop and Cafe
          td
            a(href="/FlowerShop") Flower Parlor and Herbal Shop
