extends layout 

block mainContent 
    h2 Questionaire

    table(class="ProductTables") 
        tbody 
            tr  
                td
                    h3(class="QuestionHeader") Do you Prefer Coffee, Hot Cocoa, or Tea?
                    div(class="QuestionAnswers")
                        select(id="question1", class="QuestionaireSelection")
                            option(value="") Select Answer:
                            option(value="Coffee") Coffee 
                            option(value="Tea") Tea 
                            option(value="Hot Cocoa") Hot Cocoa
                            option(value="None") None
            tr 
                td 
                    h3(class="QuestionHeader") What is your Favorite Flavour of Ice Cream?
                    div(class="QuestionAnswers")
                        select(id="question2", class="QuestionaireSelection")  
                            option(value="") Select Answer: 
                            option(value="Vanilla") Vanilla
                            option(value="Chocolate") Chocolate
                            option(value="Strawberry") Strawberry 
                            option(value="Neopolitan") Neopolitan 
                            option(value="Other") Other
            tr 
                td 
                    h3(class="QuestionHeader") What is your Favorite Color out of Those Listed?
                    div(class="QuestionAnswers")
                        select(id="question3", class="QuestionaireSelection") 
                            option(value="") Select Answer: 
                            option(value="Red") Red 
                            option(value="Orange") Orange 
                            option(value="Yellow") Yellow 
                            option(value="Green") Green 
                            option(value="Blue") Blue 
                            option(value="Purple") Purple 
                            option(value="Violet") Violet 
    button(id="SubmitQuestionaire", class="PrettyButton", type="submit") Submit 



    