extends layout.pug

block mainContent
    article(id="LoginView") 
        h2 Login
        p Username:
        input(type="text", class="usernameInput", id="uLogin")
        p Password:
        input(type="text", class="pswrdInput", id="pLogin")
        p
        button(class="PrettyButton", id="loginBTN",type='login') Login
        p 
        p     
        article(class="ViewChangeButton")
            h3(class="ViewSwitchLoginPage") Don't Have an Account? 
            button(id="regViewSwitch", class="PrettyButton") Click Here to Register

    article(id="RegisterView") 
        h2 Register
        p Username:
        input(type="text", class="usernameInput", id="uReg")
        p Password:
        input(type="text", class="pswrdInput", id="pReg")
        p Email:
        input(type="text", class="emailInput", id="eReg")
        p Full Name (Optional):
        input(type="text", class="nameInput", id="nReg")
        p Age (Optional): 
        input(type="text", class="ageInput", id="aReg")
        p
        button(class="PrettyButton", id='registerBTN', type="register") Register
        p 
        p 
        article(class="ViewChangeButton")
            h3(class="ViewSwitchLoginPage") Already Have an Account? 
            button(id="logViewSwitch", class="PrettyButton") Click Here to Login
