extends layout.pug 

block mainContent 
    article(id="LoginView")
        h2 Login
        input(type="text", class="usernameInput")
        input(type="text", class="pswrdInput")

    article(id="RegisterView")
        h2 Register
        input(type="text", class="usernameInput")
        input(type="text", class="pswrdInput")
        input(type="text", id="emailInput")
        input(type="text", id="nameInput")
        input(type="text", id="ageInput") 