extends layout.pug

block mainContent
    article(id="LoginView") 
        h2 Login
        p Username:
        input(type="text", class="usernameInput", id="uLogin")
        p Password:
        input(type="text", class="pswrdInput", id="pLogin")
        p
        button(class="PrettyButton", id="loginBTN", type='submit') Login
        p  
        p(id="OutputBox") 
        p      
        article(class="ViewChangeButton")
            h3(class="ViewSwitchLoginPage") Don't Have an Account? 
            button(id="regViewSwitch", class="PrettyButton", type='submit') Click Here to Register

    article(id="RegisterView") 
        h2 Register
        p Username [Needs 1 Capital Letter, 1 Lowercase Letter, and 1 Number]:
        input(type="text", class="usernameInput", id="uReg")
        p Password [Needs 1 Capital Letter, 1 Lowercase Letter, 1 Number, and 1 Special Character (!@#$%^&*()_-)]:
        input(type="text", class="pswrdInput", id="pReg")
        p Email:
        input(type="text", class="emailInput", id="eReg")
        p Full Name (Optional):
        input(type="text", class="nameInput", id="nReg")
        p Age (Optional): 
        input(type="text", class="ageInput", id="aReg")
        p
        button(class="PrettyButton", id='registerBTN', type='submit') Register
        p 
        p 
        article(class="ViewChangeButton")
            h3(class="ViewSwitchLoginPage") Already Have an Account? 
            button(id="logViewSwitch", class="PrettyButton", type='submit') Click Here to Login
