@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

body {
  padding: 50px;
  font-family:'Josefin Sans', sans-serif;
  color: aliceblue;
  background-image: url(../images/BackTattoo.jpg);
}

a {
  color: #00B7FF;
}

table.ProductTables, table.NavTable {
  width:100%;
  background-color: #515151;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #3ddf20;
  border-style: dotted;
  color: #FFFFFF;
  text-align: center;
  align-content: center;
}

table.NavTable {
  margin-top: 10%;
}

table.NavTable td * {
  font-family: 'Cinzel', sans-serif;
  color: whitesmoke;
}

table.NavTable td {
  border-width: 2px;
  border-color: #3ddf20;
  border-style: dotted;
  padding: 3px;
}

table.ProductTables td, table.ProductTables th {
  border-width: 2px;
  border-color: #3ddf20;
  border-style: dotted;
  padding: 3px;
  width: 50%;
}

table.ProductTables th {
  font-family: 'Cinzel', sans-serif;
  font-size: large;
}

table.headerrow {
  display: flex;
  justify-content: space-between;
}

#WelcomeMessage {
  font-size: larger;
  font-family: 'Cinzel', sans-serif;
  text-align: center;
}

#outerHeader, #BusinessIntro {
  width:100%;
  display: flex;
  justify-content: center;
}

#CoffeeLogo {
  width: 460px;
  height: 412px;
}

#CoffeeShopImage {
  width: 75%;
  height: auto;
}

#FlowerShopImage {
  width: 80.5%;
  height: auto;
}