@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

body {
  padding: 50px;
  font-family:'Josefin Sans', sans-serif;
  color: aliceblue;
  background-image: url(../images/BackTattoo.jpg);
}

a {
  color: #00B7FF;
}

h2 {
  font-family: 'Cinzel', sans-serif;
  color: whitesmoke;
  text-align: center;
  font-size: 35px;
  background-color: #212121;
}

table.ProductTables, table.NavTable {
  width:100%;
  background-color: #515151;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #3ddf20;
  border-style: dotted;
  color: #FFFFFF;
  text-align: center;
  align-content: center;
  font-size: larger;
}

table.NavTable {
  margin-top: 10%;
}

table.NavTable td * {
  font-family: 'Cinzel', sans-serif;
  color: whitesmoke;
}

table.NavTable td {
  border-width: 2px;
  border-color: #3ddf20;
  border-style: dotted;
  padding: 3px;
}

table.ProductTables td, table.ProductTables th {
  border-width: 2px;
  border-color: #3ddf20;
  border-style: dotted;
  padding: 3px;
  width: 50%;
}

table.ProductTables th {
  font-family: 'Cinzel', sans-serif;
  font-size: large;
}

table.ProductTables img {
  width: 50%;
}

table.headerrow {
  display: flex;
  justify-content: space-between;
}

#WelcomeMessage {
  font-size: larger;
  font-family: 'Cinzel', sans-serif;
  text-align: center;
}

#outerHeader, #BusinessIntro {
  width:100%;
  display: flex;
  justify-content: center;
}

#CoffeeLogo {
  width: 460px;
  height: 412px;
}

#CoffeeShopImage {
  width: 75%;
  height: auto;
}

#FlowerShopImage {
  width: 80.5%;
  height: auto;
}

h2.headrow {
  margin-top: 8%;
}

h3.FlowerSeasonHeaders {
  font-size: 30px;
  text-align: center;
  border-width: 2px;
  border-color: #3ddf20;
  border-style: dotted;
  padding: 3px;
  background-color: #212121;
}

#FlowerShopInfo, .ViewSwitchLoginPage {
  background-color: #212121;
  font-size: large;
  text-align: center;
}

#orderOverlay {
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75); 
  z-index: 2; 
  cursor: pointer; 
  text-align: center;
}

/* CSS */
.orderButton, #cancelOrder , #ConfirmOrder, #ReturnBtn, .PrettyButton{
  --b: 3px;   
  --s: .45em; 
  --color: #FFFFFF;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.orderButton:hover,
.orderButton:focus-visible,
#cancelOrder:hover,
#cancelOrder:focus-visible,
#ConfirmOrder:hover,
#ConfirmOrder:focus-visible,
#ReturnBtn:hover,
#ReturnBtn:focus-visible,
.PrettyButton:hover,
.PrettyButton:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.orderButton:active, #cancelOrder:active, #ConfirmOrder:active , #ReturnBtn:active, .PrettyButton:active{
  background: var(--color);
  color: #fff;
}

#orderDetails {
  background-color: #212121;
}

#RegisterView {
  display: none;
}

#LoginView {
  display: block;
}

.ViewChangeButton {
  display: grid;
  align-items: center;
  background-color: #212121;
}

.profileStats {
  background-color: #212121;
  font-size: larger;
  padding-left: 1%;
}

.profileHeader {
  font-size: xx-large;
  text-align: center;
}

.QuestionaireSelection {
  background-color: #212121;
  color: #FFFFFF;
  font-size: 30px;
}

.QuestionHeader {
  font-size: 35px;
}

#SubmitQuestionaire, #StatisticCharts {
  text-align: center;
  align-items: center;
  width: 100%;
  background-color:#212121;
  margin-top: 1%;
}

#StatisticCharts canvas {
  background-color: #fff;
}